* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('../font/font.ttf');
}


nav {
    background: #563727;
    height: 80px;
    font-size: 17px;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);

}

nav ul a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav ul li {
    display: inline-block;
    padding-left: 40px;


}

nav ul a li {
    text-decoration: none;
}

nav ul {
    float: right;
    margin-right: 60px;
    margin-top: 28px;
    text-transform: uppercase;
    color: black;
    width: auto;
    background: none;

}

nav ul a::after {
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;

}

nav ul a:hover::after {
    width: 100%;


}

label.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 80px;
    color: white;
    float: left;
}

.logoimg {
    width: 100px;
    height: 100px;
    margin-left: 40px;
    padding-right: 0;
    float: left;
    display: flex;
}


.bg1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/background.jpg');
    filter: brightness(50%);
    z-index: -1;
    background-size: cover;
}

.promote-head {
    font-family: Montserrat;
    font-size: 50px;
    margin-bottom: 10px;
}

.promote-p {
    font-family: Nunito;
    font-size: 18px;
    margin-bottom: 10px;
}

.bg1 {

    width: 100%;
    height: 55vh;
    text-align: center;
}

.intro {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 20%;
}

.email-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0 0 5px;
    width: 999px;
    margin: auto;
    padding: 20px;
    outline: none;
}

.email-container input {
    flex: 1;
    border: none;
}

.email-button {
    padding: 1px 20px;
    border: none;
    background-color: #926953;
    color: white;
    border-radius: 0px 8px 8px 0;
    cursor: pointer;
    z-index: 1;
}

.optional {
    margin-top: 10px;
    font-family: Nunito;
}

.promotion {
    justify-content: center;
    margin: auto;
    display: flex;
    border-radius: 8px;
    border: 1px solid white;
    width: 710px;

}

.email-button:hover {
    cursor: pointer;
    opacity: 0.9;

}

.-div2-container {
    width: 100%;
    height: 100vh;
}


h1 {
    font-family: Montserrat;
}

.strong-container {
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
    font-family: Montserrat;
    font-size: 17px;

}

.services-container {
    display: flex;
}

.services {
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 28px;
}

.services-p {
    padding-top: 30px;
    width: 49%;
    margin-left: 25vw;
    font-family: Nunito;
    margin-top: 10px;
    text-align: justify;
}

.services2-p {
    padding-top: 30px;
    width: 49%;
    font-family: Nunito;
    margin-top: 10px;
    text-align: justify;
}

.para2 {
    margin-top: 10px;

}

.gallery img {
    filter: brightness(40%);

}

.gallery {
    margin-top: 90px;
    position: relative;
    text-align: center;
    color: white;
}

.gallery img:hover {
    filter: brightness(80%);
    transition: 0.8s;
}

.image1-container {
    position: absolute;
    top: 40%;
    left: 45.7%;
    z-index: 2;

}

.image2-container {
    position: absolute;
    top: 40%;
    left: 29.8%;
    z-index: 2;

}

.image3-container {
    position: absolute;
    top: 40%;
    left: 60.5%;
    z-index: 2;

}

.img-resize {
    height: 260px;
    width: 280px;
    font-family: Montserrat;
}

.grid-container {
    display: flex;
}

.-jobs {
    width: 30vw;
    height: 30vh;
    background-color: #906E49;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.job-des {
    font-size: 20px;
    font-family: Monsterrat;
    margin-top: 20%;
    color: white;

}

.-jobs2 {
    background-color: whitesmoke;
    width: 30vw;
    height: 30vh;
    z-index: -1;
}

.jobs3 {
    width: 50vw;
    height: 30vh;
    background-color: whitesmoke;

}

.jobs3-des {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 130px;
    font-family: Montserrat;
}

.jobs3-style2 {
    margin-top: 3px;
    font-size: 14px;
    margin-left: 130px;
    font-family: Nunito;

}

.serving {
    margin-left: 40px;
    margin-top: 30px;
    font-size: 25px;
    text-indent: 2px;
    font-family: Montserrat;
    text-transform: uppercase;
}

.city {
    margin-left: 40px;
    margin-top: 15px;
    font-size: 20px;
    font-family: Nunito;
}


.foot-div {
    height: 50px;
    background-color: grey;
    filter: brightness(50%);
}

.copy-right {
    text-align: center;
    font-family: Nunito;

}

.foot-logo {
    width: 80px;
    height: 80px;
    text-align: center;
    
}

.foot-final {
    margin-left: 40%;
    padding-top: 9px;
    font-family: Montserrat;
}

#myNavbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.careers {
    background-image: url('../media/careers.jpg');
    width: 99.1vw;
    height: 60vh;
    background-size: cover;
    filter: blur(30%);
    filter: brightness(75%);
}

.join {
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-top: 20vh;
    color: whitesmoke;

}

.career-des text {
    filter: brightness(100%);
    font-size: 90px;
}

.growing {
    font-size: 25px;
}


.career-div-des {
    width: 85%;
    height: 23vh;
    padding-left: 15%;
    background-color: grey;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.career-div-des:hover{
   cursor: pointer;
}

.btn{
    background: none;
    border: none;
    font-size: 28px;
    font-family: Montserrat;

}

.btn:hover{
    cursor: pointer;
    color: brown;
}
.h-des1 {
    padding-top: 4%;
    margin-bottom: 10px;
    font-size: 28px;
    text-transform: uppercase;
    font-family: Montserrat;
    color: #333333;
   
}
.p-des1{
    opacity: 0;
    transition: 0.5s;
}

.p-u{
    color: black;
    font-size: 18px;
    font-family: Nunito;
}

.why-us-bg {
    background-image: url('../media/4.jpg');
    height: 80vh;
    filter: brightness(60%);
}

.why-us-h {
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    font-size: 100px;
}

.all-why-container {
    display: flex;
}

.why-container {
    width: 53%;
    background-color: white;
    height: 60vh;

}

.why-container2 {
    background-color: white;
    width: 47%;
    margin-top: 50px;

}

.why {
    align-items: center;
    justify-content: center;
}

.why-choose {
    margin-top: 80px;
    margin-left: 30%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Montserrat;
}

.why-choose-p {
    margin-left: 30%;
    font-size: 18px;
    font-family: Nunito;
}

.form-why {
    border: 1px solid black;
    margin-left: 10%;
    text-align: justify;
    width: 40vh;
    height: 300px;
    background-color: #F3F4F5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    padding: 120px 55px;
    padding-top: 20px;
    border-radius: 8px;
    font-family: Montserrat;

}

.form-p-why {
    font-size: 16px;
    font-family: Nunito;
}