*{
    padding: 0;
    margin: 0;
}


 nav {
     background: wheat;
     height: 80px;
     font-size: 17px;
     position: absolute;
     width: 100%;
     box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
     
 }

 nav ul{
     float:right;
     margin-right: 60px;
     margin-top: 25px;
     text-transform: uppercase;
     color: black;
     width:auto;
    
 }
 nav ul a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: .3s;
}

 nav ul a:hover::after{
     width: 100%;
     
  
 }

 label.logo{
     font-family:'Times New Roman', Times, serif;
     font-size: 30px;
     padding:0px 55px;
     line-height: 75px;
     color: white;
    
 }

 label.input{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
     
 }

 .btn{
     padding: 5px;
 }

 h1{
     line-height: 55px;
     margin-left: 20px;
     font-size: 15px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
  .para{
     font-size: 17px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: auto;
     margin-top: 26%;
     width: 50%;
     max-width: 50%;
     color: white;
  }
  .--div-left-align{
    width: 60%;
    height: 100vh;
    float: left;

     
  }

  .--div-right-align{
    width: 40%;
    height: 100vh;
    background-color: white;
    float: right;
   
    
     
}


.-form-des{
    
    
    height: 50%;
    border: 8px solid;
    border-top-color: wheat;
    border-right-color: #e7d6c0;
    border-bottom-color: #e7d6c0;
    border-left-color: wheat;
    background-color: burlywood;
    border-radius: 7px;
    border-left-width: 4px;
    border-top-width: 4px;
    margin: 15vh;
    margin-top: 30%;

    
}

.-form-des-content{
    margin-left: 5%;
    margin-top: 5%;

}

.--button-container{
    margin-top: 8%;
    float: left;
    position: absolute;
    margin-left: 25px;
    
 }
 .--button-des{
    text-align: center;
    margin-right: 2px;
    border-radius: 18px;
    padding: 18px;
    background-color:yellowgreen;
    border-color:black;

 }

 .--button-des-guest{
    border-radius: 18px;
    padding: 18px;
    background-color:transparent;
    border-color:black;
 
 }



 .-firstname{
   margin-top: 25px;
   margin-left: 25px;
   border-bottom: 1px solid gray;
   border-left: 0;
   border-right: 0;
   border-top: 0;
   position: relative;
 }

 .-lastname{
   margin-bottom: 13px;
   margin-left: 5px;
   border-bottom: 1px solid gray;
   border-left: 0;
   border-right: 0;
   border-top: 0;
   position: relative;
   
 }

 .-email{
    margin-left: 25px;
    margin-bottom: 5px;
    width: 77%;
    border-bottom: 1px solid gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    position: relative;
 }
 .-psw{
    margin-bottom: 13px;
    margin-left: 25px;
    border-bottom: 1px solid gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    position: relative;
   
 }

 .-number{
    margin-bottom: 13px;
    margin-left: 5px;
    border-bottom: 1px solid gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
   
 }
 input:invalid:hover{
    border-color: red;
    border-width: 5px;
   
 }

.-optstyle-container{
    display: flex;
}

 .-optstyle{
    padding: 5px;
    margin-left: 25px;
    margin-top: 8px;
    background: yellowgreen;
    border-radius: 7px;
    
   
 }

 .-optstyle2{
    padding: 5px;
    margin-left: 10px;
    margin-top: 8px;
    background: yellowgreen;
    border-radius: 7px;
 }

 .-optstyle3{
    padding: 5px;
    margin-left: 10px;
    margin-top: 8px;
    background: yellowgreen;
    border-radius: 7px;
 }

